{% extends "hyde/templates/index.html" %}

{% block extra_head %}
    <link rel=icon type="image/png" href=/favicon.png>
{% endblock %}

{% block content %}
    <div class="posts">
        <!-- TODO: PR way to config this to theme?-->
        {% set section = get_section(path="blog/_index.md") %}
        {% for page in section.pages %}
            {% if not page.draft %}
                <div class="post">
                <h1 class="post-title">
                    <a href="{{ page.permalink }}">
                    {{ page.title }}
                    </a>
                </h1>

                <span class="post-date">{{ page.date | date(format="%B %e, %Y") }}</span>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
